<div class="well-lg">
    <h1>Daily Aww</h1>
    <p class="lead">Cute animals, delivered daily.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>
            Change Log:
        </h3>
        <p>
            <strong>11 Mar 2017</strong><br/>
            Small updates to the Instant-Aww page. Including better layout of people listing, and a text field to send out a one-time Instant-Aww to someone that is not in the people listing.
        </p>
        <p>
            <strong>7 Oct 2017</strong><br />
            Initial Release!
        </p>
    </div>
</div>